<footer class="footer">
  <div class="container">
    <div class="redes-sociales">
      <img src="assets/icons/whatsapp.png" alt="WhatsApp" />
      WhatsApp: 2634-647102
      <img src="assets/icons/llamada.png" alt="Teléfono" />
      Telefono: 01263-678798
      <img src="assets/icons/mapa.png" alt="Ubicación" />
      Ubicación: Ricardo Videla 1380 San Martin Mza
      <img src="assets/icons/servicio-al-cliente.png" alt="ServicioAlClinete" />
      Servicio al cliente
      <img src="assets/icons/gmail.png" />
      Email: infoFarmacia.com
      <p class="copyright"> © 2024 Todos los derechos reservados.</p>
    </div>
  </div>
</footer>
